@cbim:registry=http://nexus.cbim.org.cn/repository/npm-public
# node-sass argument of installation registry site for fixing the network issue.
# if even can not solve problem, use 'npm install -g mirror-config-china && pnpm add node-sass --global' 
SASS_BINARY_SITE=https://npmmirror.com/mirrors/node-sass