$staticUrl: 'https://ren.cbim.org.cn/static/lib/cbim_render_web/cbim_render_web_static/';
$mainColor: #F65D30;
$secondaryColor: #FCCEC0;
$thirdColor: rgba(246, 93, 48, 0.1); //#FCCEC0;
$menuColor: #6d7b98;
$normalColor: #2A334A;
$placeholderColor: #9daac2;
$leftMenuBgColor: rgba(236, 240, 248, 0.9); //#ECF0F8;
$leftMenuBgColorWithBlur: #ecf0f8;
/* 面板背景色 */
$panelBgColorOpacity: rgba(246, 249, 252, 0.9); //#F6F9FC;
$panelBgColor: #ECF1F5; //rgba(246,249,252,0.9); //#ECF1F5; //#F6F9FC;
/* 面板中的字体颜色 */
$panelColor: #2A334A;
$inputBgColor: rgba(201, 210, 225, 0.3);
$requiredColor: #F43030;
$dangerColor: #F43030;
$passColor: #00BE71;
/* 位置变量 */
$baseColor: #FFFFFF;
$borderColor: #E1E6F1;
$linkColor: #416AD9;
$circleIconBtn: rgba(0, 0, 0, .3);
$buttonBg: linear-gradient(135deg, #f65d30, #ff875c);
$tabBtnBgColor: #C9D2E1;
$tabBtnBgColor-light-3: rgba(201, 210, 225, 0.30);
$noticeColor: #FAAD14;
$panelBtnColor: #7885a0;
$stepTitleColor: #47516A;
$rowDataBgColor: #2499FF;
$boxShadowColor: rgba(0, 0, 0, 0.06);
$boxShadowColor2: rgba(157, 170, 194, 0.3);
$msgBoxTitleColor: #181E2D;
$assetSharedColor: #ff7700;
$assetSharedBg: rgba(255, 119, 0, .1);
$toggleBtnActiveBgColor: rgba(246, 249, 252, 0.75);
$toggleBtnHoverColor: #ff875c;
$toggleBtnActiveColor: #CF421F;
$dividerColor: #ecf0f8;
$sumColor: #80868C;
$cubeTextColor: #4f5559;
$cubeIconFolor: #505559;
$fpsBgColor: rgba(109, 123, 152, 0.30);
$page505BgColor: linear-gradient(to right, #E4E6F1, #CAD0E0);